.contacts-container {
    height: 2.5em;
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.contact-icon {
    /* background: red; */
    width: 64px;
    width: 10vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
a span {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -10px;
}

#lnkd {
    background-image: url("./icons/linkedin.svg");
}

#git {
    background-image: url("./icons/gitLogo.svg");
}
#mailto {
    background-image: url("./icons/mailto.svg");
}

#resume-link {
    background-image: url("./icons/resume-icon.svg");
}
