#about-container {
    height: 100%;
    font-size: 1rem;
}
.portrait-img {
    display: block;
    width: 80%;
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 80% 100%);
    clip-path: polygon(0 100%, 0 0, 100% 0, 80% 100%);
}
.general-header {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 1.953em;
}

.text {
    font-family: 'IBM Plex Sans', sans-serif;
    margin-right: 1em;
    font-size: .64em;
}
@media screen and (max-width: 576px) {
    #about-container {
        height: inherit;
    }
    .portrait-img {
        -webkit-clip-path: circle(50% at center);
        clip-path: circle(50% at center);
        width: 100%;
    }
    .row {
        height: inherit;
    }
}

/* @media screen and (max-height: 50em) {
    .row {
        height: inherit;
    }
} */
