.skill-item {
    /* border: 3px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.skill-icon-cont img {
    width: calc(.5em + 1vw);
    min-width: 1em;
    max-width: 30px;
}
.skill-text {
    font-size: .64em;
    font-family: 'IBM Plex Sans', sans-serif;
    padding-left: 1vw;
}
