#footer-cont {
    position: relative;
    margin-top: 5%;
    /* background: white; */
    /* display: flex; */
}
#table {
    display: table;
    width: 100%;
}
#table > div{
    display:table-cell;
    vertical-align:middle;
}
