@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Bold.ttf');
}
body {
    font-size: 16px;
    background-color: #C4C9BA;
}
.website-h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2.75rem;
}
.svg-cont {
    display: block;
}
.svg-cont > svg {
    margin-left: 50%;
    transform: translateX(-50%);
}
.axis-label {
    font-size: 11px;
    font-weight: 600;
    text-anchor: middle;
    fill: #555;
  }
.axis-ticks {
    font-size: 12px;
}
.section-title {
    font-size: 39px;
    font-weight: bold;
    text-anchor: middle;
    fill: #1D70A2;
    font-family: 'Roboto', sans-serif;
}
#avg-sat-header{
    font-size: 26px;
    font-weight: bold;
}
#avg-act-header{
    font-size: 26px;
    font-weight: bold;
}
.score-text {
    text-anchor: middle;
    font-size: 72px;

}
#locality-text, #region-text{
    font-size: 3rem;
}
.subheading {
    font-size: 26px;
    text-anchor: middle;
    font-weight: bold;
    font-family: 'Roboto';
    fill: #414535
}
.debChartText {
    font-size: 26px;
    font-weight: bold;
    text-anchor: middle;
}
.banner {
    background: #414535;
    color: #EBEDE8;
    padding: 1rem 5rem;
    text-align: center  ;
}